[submodule "srsRAN_Project"]
	path = srsRAN_Project
	url = git@github.com:sibsutisTelecomDep/srsRAN_Project.git
[submodule "srsRAN_4G"]
	path = srsRAN_4G
	url = git@github.com:sibsutisTelecomDep/srsRAN_4G.git
