[submodule "srsRAN_Project"]
	path = srsRAN_Project
	url = git@github.com:sibsutisTelecomDep/srsRAN_Project.git
	branch = main
	
[submodule "srsRAN_4G"]
	path = srsRAN_4G
	url = git@github.com:sibsutisTelecomDep/srsRAN_4G.git
	branch = master

[submodule "QuaDRiGa"]
	path = matlab/QuaDRiGa
	url = git@github.com:fraunhoferhhi/QuaDRiGa.git
	branch = main

# [submodule "json"]
# 	path = third_party/json
# 	url = git@github.com:nlohmann/json.git
# 	branch = v3.12.0

[submodule "third_party/libzmq"]
	path = third_party/libzmq
	url = https://github.com/zeromq/libzmq.git

[submodule "third_party/czmq"]
	path = third_party/czmq
	url = https://github.com/zeromq/czmq.git

[submodule "third_party/jeromq"]
	path = third_party/jeromq
	url = https://github.com/zeromq/jeromq.git
	branch = v0.6.0
